.header {
  list-style-type: none;

  grid-template-columns: 20px 20px 300px 300px 40px;
  display: grid;

  margin-bottom: 25px;

  &CheckSome {
    background: rgb(34, 193, 195);
    background: linear-gradient(
      0deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(255, 255, 255, 1) 40%
    );
    // background-color: black;
    width: 20px;
    height: 20px;
  }

  &CheckAll {
    background: rgb(34, 193, 195);
    background: linear-gradient(
      0deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(255, 255, 255, 1) 150%
    );
    // background-color: black;
    width: 20px;
    height: 20px;
  }

  &NoChecked {
    background: rgb(34, 193, 195);
    background: linear-gradient(
      0deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(255, 255, 255, 1) 0%
    );
    // background-color: black;
    width: 20px;
    height: 20px;
  }
}

.label {
  margin-right: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 5px;

  border: none;
  border-radius: 2px;

  margin-right: 10px;
}

.checkbox {
  cursor: pointer;

  pointer-events: visible;
}

.todoList {
  list-style-type: none;
}

.container {
  grid-template-columns: 20px 20px 300px 300px 40px 120px 120px;
  display: grid;

  background-color: #bfdbf7;

  margin-bottom: 10px;

  pointer-events: none;

  &Title {
    text-align: center;
  }
}

.inputsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  height: 25px;
  padding: 2px 15px;

  background-color: #fff;

  border: none;

  cursor: pointer;

  &:not(:last-child) {
    margin-right: 5px;
  }

  pointer-events: visible;
}
