.div__container {
  width: 700px;
}

.header {
  list-style-type: none;

  display: flex;
  align-items: center;
  justify-content: space-around;

  &__item {
    // margin-right: 25px;
    width: 150px;
  }

  margin-bottom: 25px;
}

.label {
  margin-right: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 5px;

  border: none;
  border-radius: 2px;

  margin-right: 10px;
}

.todoList {
  list-style-type: none;
  //  padding-left: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: #bfdbf7;

  margin-bottom: 10px;
}

.span {
  width: 150px;
}

.inputsContainer {
  display: flex;

  align-items: center;
}

