.form {
  margin-bottom: 150px;
}

.container {
  display: flex;

  margin-bottom: 10px;

  &__title {
    margin-right: 15px;
  }

  margin-bottom: 20px;
}

.label {
  margin-right: 5px;
}

.input {
  padding: 5px;

  border: none;
  border-radius: 2px;
}

.btn {
  width: 100px;
  height: 25px;
  padding: 2px 15px;

  background-color: #fff;

  border: none;
}
