.btn {
  width: 100px;
  padding: 2px 15px;
}

.container {
  display: flex;

  margin-bottom: 10px;

  &__title {
    margin-right: 15px;
  }


  //   &__Description {

  //   }
}

.label {
  margin-right: 5px;
}
