.form {
  margin-bottom: 150px;
}

.container {
  display: flex;

  margin-bottom: 10px;

  &InputTitle {
    margin-right: 15px;
  }

  margin-bottom: 20px;
}

.btn {
  width: 100px;
  height: 25px;
  padding: 2px 15px;

  background-color: #fff;

  border: none;

  cursor: pointer;
}
